<div class="side-menu">
	#if($usertype && ($usertype == "user" || $usertype == "admin"))
	    <a href="#">
	        <div class="side-menu-item #if($page && $page=="home")side-menu-item-selected #end">
	        HOME
	        </div>
	    </a>
	    <a href="#">
	        <div class="side-menu-item #if($page && $page=="history")side-menu-item-selected #end">
	        HISTORY
	        </div>
	    </a>
	    <a href="#">
	        <div class="side-menu-item #if($page && $page=="doctors")side-menu-item-selected #end">
	        DOCTORS
	        </div>
	    </a>
    #else
	 	<a href="#">
	        <div class="side-menu-item #if($page && $page=="home")side-menu-item-selected #end">
	        PRIJAVA
	        </div>
	    </a>
	    <a href="#">
	        <div class="side-menu-item #if($page && $page=="history")side-menu-item-selected #end">
	        REGISTRACIJA
	        </div>
	    </a>
    #end
	#if($usertype && $usertype == "admin")
		<div class="side-menu-seperator"></div>
		<a href="#">
			<div class="side-menu-item #if($page && $page=="admin")side-menu-item-selected #end">
				ADMINISTRATION
			</div>
		</a>
		#if($page && $page == "admin")
			<a href="#">
				<div class="side-submenu-item #if($subpage && $subpage=="addDoctor")side-submenu-item-selected #end">
					DODAJ OSEBJE
				</div>
			</a>
			<a href="#">
				<div class="side-submenu-item">
					DRUGO
				</div>
			</a>
		#end
	#end
</div>