<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    #parse("../common/head.vm")
    <body>
    	<div class="container">
            <div class="row">
                <div class="panel panel-default main-panel">
                    <div class="main-container">
                        <div class="content-container">
                            <div class="content-topbar">
                                <div id="showSidebarButton" class="show-sidebar-button hidden-lg hidden-md"></div>
                                <div class="content-title">$title</div>
                            </div>
                            <div class="content">  
                            	#if($registrationSuccess)
                            		<p>#springMessage($registrationSuccess)</p>
                            	#end                           
								<form method="POST" action="#springUrl("/admin/createMedicalWorker")">
								<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
									<h4><p class="text-center"> Osnovni podatki<small> (obvezno)</small> </p></h4>
									<div class="form-group">
										#if($command) #springBind("command.email") #end
										<label for="emailInput">Email naslov</label>
										<input type="email" class="form-control" id="emailInput" name="email" value="$!status.value" placeholder="Email" required>
										#foreach($error in $status.errorMessages) <div class="alert-box alert">$error</div> #end
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												#if($command) #springBind("command.password") #end
												<label for="passwordInput">Geslo</label>
												<input type="password" class="form-control" id="passwordInput" name="password" value="$!status.value" placeholder="Geslo" required pattern="(?=.*\d).{8,}" onchange="form.passwordInputRepeat.pattern = this.value;">
												#foreach($error in $status.errorMessages) <div class="alert-box alert">$error</div> #end
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												#if($command) #springBind("command.repeatpassword") #end
												<label for="passwordInputRepeat">Ponovi geslo</label>
												<input type="password" class="form-control" id="passwordInputRepeat" name="repeatpassword" value="$!status.value" placeholder="Ponovi geslo">
												#foreach($error in $status.errorMessages) <div class="alert-box alert">$error</div> #end
											</div>
										</div>
									</div>
									<br />
									<h4><p class="text-center"> Ostalo <small>(neobvezno)</small> </p></h4>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												#if($command) #springBind("command.title") #end
												<label for="titleInput">Naziv</label>
												<input type="text" class="form-control" id="titleInput" name="title" value="$!status.value" placeholder="Naziv">
												#foreach($error in $status.errorMessages) <div class="alert-box alert">$error</div> #end
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label for="workerType">Tip</label>
												<div class="row">
													#if($command) #springBind("command.type") #end
													<div class="col-md-6">
														<div class="radio">
															<label>
																<input type="radio" name="type" value="Doctor" id="doctorRadio" checked>Zdravnik
															</label>
														</div>
													</div>
													<div class="col-md-6">
														<div class="radio">
															<label>
																<input type="radio" name="type" value="Nurse" id="nurseRadion">Medicinska sestra
															</label>
														</div>
													</div>
													#foreach($error in $status.errorMessages) <div class="alert-box alert">$error</div> #end
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												#if($command) #springBind("command.first_name") #end
												<label for="firstNameInput">Ime</label>
												<input type="text" class="form-control" id="firstNameInput" name="first_name" value="$!status.value" placeholder="Ime">
												#foreach($error in $status.errorMessages) <div class="alert-box alert">$error</div> #end
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												#if($command) #springBind( "command.last_name" ) #end
												<label for="lastNameInput">Priimek</label>
												<input type="text" class="form-control" id="lastNameInput" name="last_name" value="$!status.value" placeholder="Priimek">
												#foreach($error in $status.errorMessages) <div class="alert-box alert">$error</div> #end
											</div>
										</div>
									</div>
									<br />
									<p class="text-center">
										<input type="submit" class="btn btn-default btn-lg" value="Ustvari">
									</p>
									
								</form>
									
                            </div>
                        </div>
                        <div id="sidebar" class="sidebar hidden-sm hidden-xs">
                            <div class="sidebar-topbar">
                                <div class="logo" style="color:#eee">
                                    
                                </div>
                                <div id="hideSidebarButton" class="hide-sidebar-button hidden-lg hidden-md">
                                </div>
                            </div>
                            <div class="sidebar-seperator"></div>
                            #sidemenu($usertype $page $subpage)
                            <div class="sidebar-seperator"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>