<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    #parse("../common/head.vm")
    <body>
    	<script>
			var csrf = "${_csrf.token}";
    	</script>
    	<div class="container">
            <div class="row">
                <div class="panel panel-default main-panel">
                    <div class="main-container">
                        <div class="content-container">
                            <div class="content-topbar">
                                <div id="showSidebarButton" class="show-sidebar-button hidden-lg hidden-md"></div>
                                <div class="content-title">$title</div>
                            </div>
                            <div class="content">  
                            	<div class="users-list">  
                            		<div class="users-list-filters">
                        				<div class="panel panel-default padding-top-20">
	                            			<div class="basic-filters">
                            					<div class="col-md-4">
	                            					<div class="form-group">
		                            					<label for="filterTypeInput">Uredi po:</label>
														<select class="form-control" id="filterTypeInput">
															<option value="rd">Datum registracije</option>
															<option value="em">Email</option>
														</select>
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group">
														<label for="searchInput">Išči:</label>
														<input class="form-control" type="text" id="searchInput" placeholder="email">
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group">
														<label for="hitsNumberInput">Število izpisov:</label>
														<select class="form-control" id="hitsNumberInput">
															<option value="0">Vsi</option>
															<option value="50">50</option>
															<option value="100">100</option>
															<option value="200">200</option>
															<option value="300">300</option>
															<option value="400">400</option>
															<option value="500">500</option>
														</select>
													</div>
												</div>
                            				</div>
	                            			<div class="more-filters">
	                            				<div id="moreFilters" class="col-md-12" style="display:none">
	                            					<div class="row">
	                            						<div class="col-md-4">
		                            						<div class="form-group">
		                            							<label for="orderTypeInput">Razvrstitev:</label>
																<select class="form-control" id="orderTypeInput">
																	<option value="desc">Padajoče</option>
																	<option value="asc">Naraščajoče</option>
																</select>
		                            						</div>
	                            						</div>
	                            						<div class="col-md-4">
	                            							<div class="form-group">
	                            								<label for="showUser">Prikaži uporabniške vloge:</label>
	                            								<div class="checkbox">
	                            									<label>
	                            										<input checked type="checkbox" id="showUser" value="User"> Uporabnik
																	</label>
																</div>
  																<div class="checkbox">
  																	<label>
  																		<input checked type="checkbox" id="showDoctor" value="Doctor"> Zdravnik
																	</label>
																</div>
  																<div class="checkbox">
  																	<label>
  																		<input checked type="checkbox" id="showNurse" value="Nurse"> Medicinska sestra
																	</label>
																</div>
	                            							</div>
	                            						</div>
	                            						<div class="col-md-4">
		                            						<div class="form-group">
		                            							<label for="fromInput">Datum registracije od:</label>
																<input type="date" class="form-control" id="fromInput" value="2016-01-01">
		                            						</div>
		                            						<div class="form-group">
		                            							<label for="toInput">Datum registracije do:</label>
																<input type="date" class="form-control" id="toInput" value="2017-01-01">
		                            						</div>
	                            						</div>
                            						</div>
	                            				</div>
	                            				<div class="show-more-filters-button" onclick="$('#moreFilters').slideToggle(500);">Več nastavitev</div>
	                            			</div>
	                            			<div class="show-button">
	                            				<div class="col-md-12 text-right">
		                            				<div class="form-group">
		                            					<button id="getUserListNewButton" type="button" class="btn btn-info">Izpiši</button>
		                            					<button id="exportUserListButton" type="button" class="btn btn-info">Izvozi</button>
		                            				</div>
	                            				</div>
	                            				<div class="row"></div>
	                            			</div>
                            			</div>
                            		</div> 
                            		<div id="exportTable" class="users-list-content" style="left:0">
                     					<div id="exportTableHeader" style="display:none" class="panel panel-primary">
                     						<div class="panel-heading">
                     							<div class="col-md-8">
                     								Seznam novih uporabnikov
                     							</div>
                     							<div id="exportDate" class="col-md-4 text-right">
                     								06.06.2016
                     							</div>
                     							<div class="row"></div>
                     						</div>
                     					</div>
                            			<div class="panel panel-default">
                            				<div class="table-responsive">
										  		<table class="table table-hover">
											    	<thead> 
											    		<tr> 
											    			<th>#</th>
											    			<th>Email</th>
											    			<th>Ime in priimek</th>
											    			<th>Datum registracije</th>
											    			<th>Uporabniška vloga</th>
										    			</tr>
									    			</thead>
									    			<tbody id="tableTbody"> 
									    				<tr"> 
									    					<th scope="row">-</th> 
									    					<td>-</td> 
									    					<td>-</td> 
									    					<td>-</td>
								    					</tr>
				    								</tbody>
										  		</table>
											</div>
                            			</div>
                            		</div>
                            	</div>	
                            </div>
                        </div>
                        <div id="sidebar" class="sidebar hidden-sm hidden-xs">
                            <div class="sidebar-topbar">
                                <div class="logo" style="color:#eee">
                                    
                                </div>
                                <div id="hideSidebarButton" class="hide-sidebar-button hidden-lg hidden-md">
                                </div>
                            </div>
                            <div class="sidebar-seperator"></div>
                            #sidemenu($usertype $page $subpage)
                            <div class="sidebar-seperator"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script> getUserListNew() </script>
</html>