body{
	background-color: #f4f4f4;
}

a:link, a:hover, a:active{
   color: #eee;
   text-decoration: none;
}

.main-panel{
	margin-top: 40px;
	margin-bottom: 40px;
}

.main-container{
	position: relative;
	background-color: #2b333d;
	border-radius: inherit;
}

.sidebar{
	width:200px;
	height: 100%;
	border-radius: inherit;
	background-color: #2b333d;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}

.sidebar-visible{
	visibility: visible !important;
	width: 100%;
}
.sidebar-topbar{
	height:50px;
}
.logo{
	float:left;
}
.sidebar-seperator{
	border-bottom: 1px solid rgba(0,0,0,0.3);
}
.patient, .name{
	margin-top: 20px;
}
.patient-image, .logo-image{
	height:100px;
	width:100px;
	background-color: rgba(0,0,0,0.3);
	border-radius: 50px;
	margin-left: auto;
	margin-right: auto;
	
}
.patient-female{
	background-image:url(../images/female.png);
	background-repeat:no-repeat;
	background-position:center;
	background-size:100px;
}
.patient-male{
	background-image:url(../images/male.png);
	background-repeat:no-repeat;
	background-position:center;
	background-size:100px;
}
.logo-mediko{
	background-image:url(../images/logo.png);
	background-repeat:no-repeat;
	background-position:center;
	background-size:100px;
}
.patient-name, .logo-name{
	color:#36B8D5;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 15px;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
}

.selected-patient-title{
	color:#ddd;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	padding-left:20px;
	padding-top: 10px;
	font-weight: 500;
}
.selected-patient{
	color:#36B8D5;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	padding-left:20px;
	padding-top: 0px;
	padding-bottom:10px;
	font-weight: 500;
}
.selected-patient-edit{
	float:right;
	padding-right:20px;	
}
.available-patients-container{
	max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgba(0,0,0,0.3);
}

.patient-select-item{
	color:#ddd;
	padding: 5px;
	padding-left: 20px;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
}

.patient-select-item:hover{
	color:#36B8D5;
	background-color: rgba(0,0,0,0.1);
}
.patient-select-item-selected{
	border-left: 2px solid #36B8D5;

}
.patient-select-item-selected:hover{
	color:#ddd;
}


.side-menu{
	padding-top: 20px;
	padding-bottom: 15px;
}
.side-menu-seperator{
	height:20px;
}
.side-menu-item{
	
	color:#ddd;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight:500;
	padding:7px;
	padding-left:20px;
}



.side-menu-item:hover{
	background-color:rgba(0,0,0,0.2);
}
.side-menu-item-selected{
	color:#36B8D5;
	background-color:rgba(0,0,0,0.2);
	border-left: #36B8D5 solid 5px;
	padding-left:15px;
}

.side-submenu-item{
	color:#ddd;
	font-size: 13px;
	font-family: 'Roboto', sans-serif;
	font-weight:500;
	padding:7px;
	padding-top:5px;
	padding-left:30px;
}
.side-submenu-item:hover{
	background-color:rgba(0,0,0,0.2);
}
.side-submenu-item-selected{
	color:#36B8D5;
}



.content{
	padding: 20px;
	padding-bottom: 1px;
	min-height: 500px;
}

.content-container{
	margin-left:200px;
	background-color: #fff;
	border-radius: inherit;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
}


.content-topbar{
	background-color: rgba(72,86,102,1);
	height:50px;
	border-top-right-radius: 4px;
}

.content-title{
	text-align: center;
	color:#eee;
	font-size: 20px;
	padding-top: 10px;
	font-family: 'Roboto', sans-serif;
}
.show-sidebar-button{
	float:left;
	height:50px;
	width:50px;
	background-color: #2b333d;
	border-top-left-radius: 4px;
	background-image:url(../images/show.png);
	background-repeat:no-repeat;
	background-position:center;
	background-size:20px;
}
.hide-sidebar-button{
	float: right;
	height: 50px;
	width:50px;
	background-color: rgba(72,86,102,1);
	border-top-right-radius: 4px;
	background-image:url(../images/close.png);
	background-repeat:no-repeat;
	background-position:center;
	background-size:20px;
}

@media (max-width: 992px) {
	.content-container{
		margin-left:0px;
		border-top-left-radius: 4px;
	}
	.content-topbar{
		border-top-left-radius: 4px;
	}
}
