#macro(sidemenu $usertype $page $subpage)
	<div class="side-menu">
		#if($usertype == "user")
		    <a href="#springUrl('/dashboard')">
		        <div class="side-menu-item #if($page && $page=="home")side-menu-item-selected #end">
		        NADZORNA PLOŠČA
		        </div>
		    </a>
		    <a href="#springUrl('/checkup/list')">
		        <div class="side-menu-item #if($page && $page=="checkup")side-menu-item-selected #end">
		        PREGLEDI
		        </div>
		    </a>
		    #if($page == "checkup")
		    	<a href="#springUrl('/checkup/list')">
					<div class="side-submenu-item #if($subpage=="list")side-submenu-item-selected #end">
						SEZNAM
					</div>
				</a>
		    	<a href="#springUrl('/checkup/order')">
					<div class="side-submenu-item #if($subpage=="order")side-submenu-item-selected #end">
						NAROČI
					</div>
				</a>
		    #end
		    <a href="#springUrl('/doctors/select')">
		        <div class="side-menu-item #if($page && $page=="doctors")side-menu-item-selected #end">
		        ZDRAVNIK
		        </div>
		    </a>
		    #if($page == "doctors")
				<a href="#springUrl('/doctors/select')">
					<div class="side-submenu-item #if($subpage=="selectDoctors")side-submenu-item-selected #end">
						IZBERI ZDRAVNIKE
					</div>
				</a>
			#end
		    <a href="#springUrl('/patient/createPatient')">
		        <div class="side-menu-item #if($page && $page=="patient")side-menu-item-selected #end">
		        PACIENTI
		        </div>
		    </a>
		    #if($page && $page == "patient")
				<a href="#">
					<div class="side-submenu-item #if($subpage && $subpage=="createPatient")side-submenu-item-selected #end">
						DODAJ
					</div>
				</a>
			#end
			<a href="#springUrl('/settings/password')">
		        <div class="side-menu-item #if($page=="settings")side-menu-item-selected #end">
		        NASTAVITVE
		        </div>
		    </a>
		    #if($page == "settings")
				<a href="#springUrl('/settings/password')">
					<div class="side-submenu-item #if($subpage=="changePassword")side-submenu-item-selected #end">
						SPREMENI GESLO
					</div>
				</a>
			#end
	    #elseif(!$usertype)
		 	<a href="#springUrl('/login')">
		        <div class="side-menu-item #if($page && $page=="login")side-menu-item-selected #end">
		        PRIJAVA
		        </div>
		    </a>
		    <a href="#springUrl('/signup')">
		        <div class="side-menu-item #if($page && $page=="register")side-menu-item-selected #end">
		        REGISTRACIJA
		        </div>
		    </a>
	    #end
		#if($usertype == "admin")
			<div class="side-menu-seperator"></div>
			<a href="#springUrl('/admin/createMedicalWorker')">
				<div class="side-menu-item #if($page && $page=="admin")side-menu-item-selected #end">
					ADMINISTRACIJA
				</div>
			</a>
			#if($page && $page == "admin")
				<a href="#springUrl('/admin/createMedicalWorker')">
					<div class="side-submenu-item #if($subpage && $subpage=="addDoctor")side-submenu-item-selected #end">
						DODAJ OSEBJE
					</div>
				</a>
				<a href="#springUrl('/admin/instructions')">
					<div class="side-submenu-item">
						DODAJ NAVODILA
					</div>
				</a>
				<a href="#springUrl('/admin/medicines')">
					<div class="side-submenu-item">
						DODAJ ZDRAVILA
					</div>
				</a>
				<a href="#springUrl('/admin/code')">
					<div class="side-submenu-item">
						DODAJ ŠIFRANTE
					</div>
				</a>
			#end
		#end
		#if($user || $usertype)
			<div class="form-group">
				<form action="#springUrl('/logout')" method="POST">						
					<div><input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/></div>
					<p class="text-center">
						<input type="submit" class="btn btn-primary btn-lg" value="ODJAVA">
					</p>
				</form>	
			</div>
		#end
#end
#macro(patientPicker $user)
	<div class="selected-patient-title" onclick="$('#patientsContainer').slideToggle(500)">
		Izbrani pacient:
		<div class="selected-patient-edit">
			<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
		</div>
	</div>
	<div class="selected-patient">
		$selectedPatient.getFirst_name() $selectedPatient.getLast_name()
	</div>
	<div id="patientsContainer" class="available-patients-container" style="display: none">
		<a href="#springUrl('/dashboard/patient/')$user.getData().getId()">
			<div class="patient-select-item #if($selectedPatient.getId() == $user.getData().getId()) patient-select-item-selected #end">
				$user.getData().getFirst_name() $user.getData().getLast_name()
			</div>
		</a>
		#foreach($patient in $user.getData().getPatients())
			<a href="#springUrl('/dashboard/patient/')$patient.getId()">
				<div class="patient-select-item #if($selectedPatient.getId() == $patient.getId()) patient-select-item-selected #end">
					$patient.getFirst_name() $patient.getLast_name()
				</div>
			</a>
		#end
	</div>

#end