<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    #parse("../common/head.vm")
    <body>
    	<div class="container">
            <div class="row">
                <div class="panel panel-default main-panel">
                    <div class="main-container">
                        <div class="content-container">
                            <div class="content-topbar">
                                <div id="showSidebarButton" class="show-sidebar-button hidden-lg hidden-md"></div>
                                <div class="content-title">$title</div>
                            </div>
                            <div class="content">                              
								<form action="#" method="POST">
									<div class="form-group">
										<label for="usernameInput">Uporabniško ime</label>
										<input type="text" class="form-control" id="usernameInput" name="${status.expression}" value="$!status.value" placeholder="Uporabniško ime" required>	
									</div>
									<div class="form-group">
										<label for="passwordInput">Geslo</label>
										<input type="password" class="form-control" id="passwordInput" name="${status.expression}" value="$!status.value" placeholder="Geslo" required>									
										<div><input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/></div>
									</div>
									<br />
									<p class="text-center">
										<input type="submit" class="btn btn-primary btn-lg" value="PRIJAVA">
									</p>
									<p class="text-center">
										<input type="submit" class="btn btn-danger" value="Pozabljeno geslo?">
									</p>	
									<a href="mediko_dev/../../home" class="btn btn-primary btn-lg" role="button">DOMOV</a>							
								</form>									
                            </div>
                        </div>
                        <div id="sidebar" class="sidebar hidden-sm hidden-xs">
                            <div class="sidebar-topbar">
                                <div class="logo" style="color:#eee">                                    
                                </div>
                                <div id="hideSidebarButton" class="hide-sidebar-button hidden-lg hidden-md">
                                </div>
                            </div>
                            <div class="name">
                                <div class="logo-image logo-mediko">
                                </div>
                                <div class="logo-name">
                                    MEDIKO
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>