<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    #parse("../common/head.vm")
    <body>
    	<div class="container">
            <div class="row">
                <div class="panel panel-default main-panel">
                    <div class="main-container">
                        <div class="content-container">
                            <div class="content-topbar">
                                <div id="showSidebarButton" class="show-sidebar-button hidden-lg hidden-md"></div>
                                <div class="content-title">$title</div>
                            </div>
                            <div class="content">	
                            	<div class="row">
                                    <div class="col-md-8">
                                        <div class="panel panel-default">
                                        <div class="panel-heading">PREGLED številka ${idc}</div>							
											<p>Pacient: ${pdata.getFirst_name()} ${pdata.getLast_name()} ${pdata.getId()}</p>
											<p>Zdravnik: ${ddata.getFirst_name()} ${ddata.getLast_name()}</p>
											<p>Razlog: $reason</p>
										</div>
									</div>
								</div>
                            	<div class="row">
                                    <div class="col-md-8">
                                        <div class="panel panel-default">
                                        <div class="panel-heading">DIAGNOZA</div>	
											#if(!$diseases)
												<p>Ni bolezni!</p>
											#else
												<p>Bolezni:</p>
												#foreach( $disease in $diseases )
												   <p>${disease.getName()}</p>
												#end
											#end
											#if(!$medicines)
												<p>Ni zdravil!</p>
											#else
												<p>Zdravila:</p>
												#foreach( $medicine in $medicines )
												   <p>${medicine.getName()}, ${medicine.getType()}</p>
												#end
											#end
											#if(!$diets)
												<p>Ni diet!</p>
											#else
												<p>Diete: </p>
												#foreach( $diet in $diets )
												   <p>${diet.getName()}</p>
												#end
											#end		
										</div>
									</div>
								</div>																			
							</div> 			
                        </div>
                        <div id="sidebar" class="sidebar hidden-sm hidden-xs">
                            <div class="sidebar-topbar">
                                <div class="logo" style="color:#eee">
                                    #if($user.lastLogin)
                                        <div style="padding-left: 10px;">
                                            <h6>Zadnja prijava</h6>
                                            <h6>$user.lastLogin</h6>
                                        </div>
                                    #end
                                </div>
                                <div id="hideSidebarButton" class="hide-sidebar-button hidden-lg hidden-md">
                                </div>
                            </div>
                            <div class="patient">
                                <div class="patient-image patient-male">

                                </div>
                                <div class="patient-name">
                                    $user.username
                                </div>
                            </div>
                            <div class="sidebar-seperator"></div>
                            #sidemenu($usertype $page $subpage)
                            <div class="sidebar-seperator"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>