<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    #parse("../common/head.vm")
    <body>
    	<div class="container">
            <div class="row">
                <div class="panel panel-default main-panel">
                    <div class="main-container">
                        <div class="content-container">
                            <div class="content-topbar">
                                <div id="showSidebarButton" class="show-sidebar-button hidden-lg hidden-md"></div>
                                <div class="content-title">$title</div>
                            </div>
                            <div class="content">
                            	<div class="row">
                                    <div class="col-md-12">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                #if($upcomingAppointments.isEmpty())
                                                    <strong style="display:block">Nimate prihajajočih pregledov!</strong></br>
                                                #else
                                                <div class="table-responsive">                                                  
                                                        <table class="table table-hover">                                                       
                                                            <thead>
                                                                <tr> 
                                                                   <th>Datum in čas</th> 
                                                                   <th>Zdravnik</th>
                                                                   <th></th>
                                                                </tr>
                                                            </thead>
                                                            #foreach($appointment in $upcomingAppointments)
                                                                #if($isDoctor)
                                                                <tbody> 
                                                                    <tr> 
                                                                        <td scope="row">$_utils.format($appointment.dateTime)</td> 
                                                                        <td>$appointment.patient.first_name $appointment.patient.last_name</td> 
                                                                        <td style="text-align: right;">
                                                                            #if($appointment.orderedBy.id == $user.data.id)                                                              
                                                                                <form action="" method="POST">
                                                                                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                                                                                    <input type="hidden" name="appointmentId" value="$appointment.idAppointment"/>
                                                                                    <button type="submit" class="btn btn-danger btn-sm">Sprosti</button>
                                                                                </form>
                                                                            #end
                                                                        </td>
                                                                    </tr> 
                                                                </tbody> 
                                                                #else
                                                                    <tbody> 
                                                                        <tr> 
                                                                            <td scope="row">$_utils.format($appointment.dateTime)</td> 
                                                                            <td>dr. $appointment.doctor.last_name</td> 
                                                                            <td style="text-align: right;">
                                                                                #if($appointment.canRelease && $appointment.orderedBy.id == $user.data.id)
                                                                                    <form action="" method="POST">
                                                                                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                                                                                        <input type="hidden" name="appointmentId" value="$appointment.idAppointment"/>
                                                                                        <button type="submit" class="btn btn-danger btn-sm">Sprosti</button>
                                                                                    </form>
                                                                                #end
                                                                            </td>
                                                                        </tr> 
                                                                    </tbody> 
                                                                #end
                                                                
                                                            #end
                                                        </table>                                                   
                                                </div>                                               
                                                #end 

                                                <a href="#springUrl('/checkup/order')"><button type="button" class="btn btn-success btn-sm">Naroči na pregled</button></a>
                                                                                     
                                            </div>
                                        </div>
                                    </div>
                                </div>															
							</div> 			
                        </div>
                        <div id="sidebar" class="sidebar hidden-sm hidden-xs">
                            <div id="sidebarContent">
                                <div class="sidebar-topbar">
                                    <div class="logo" style="color:#eee">
                                        #if($user.lastLogin)
                                            <div style="padding-left: 10px;">
                                                <h6>Zadnja prijava</h6>
                                                <h6>$_utils.format($user.lastLogin)</h6>
                                            </div>
                                        #end
                                    </div>
                                    <div id="hideSidebarButton" class="hide-sidebar-button hidden-lg hidden-md">
                                    </div>
                                </div>
                                <div class="patient">
                                    <div class="patient-image patient-male">

                                    </div>
                                    <div class="patient-name">
                                        $user.username
                                    </div>
                                </div>
                                 #if(!$isDoctor)
                                    <div class="sidebar-seperator"></div>
                                    #patientPicker($user)
                                #end
                                <div class="sidebar-seperator"></div>
                                #sidemenu($usertype $page $subpage)
                                <div class="sidebar-seperator"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <!-- LOAD SELECT2 -->
    <script>
    </script>
</html>