<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    #parse("../common/head.vm")
    <body>
    	<div class="container">
            <div class="row">
                <div class="panel panel-default main-panel">
                    <div class="main-container">
                        <div class="content-container">
                            <div class="content-topbar">
                                <div id="showSidebarButton" class="show-sidebar-button hidden-lg hidden-md"></div>
                                <div class="content-title">$title</div>
                            </div>
                            <div class="content">
								<form method="POST" action="">
									<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
									<h4><p class="text-center"> Osnovni podatki</p></h4>
									<div class="form-group">
									 	#if($command) #springBind( "command.username" ) #end
										<label for="emailInput">Email naslov</label>
										<input type="email" class="form-control" id="emailInput" name="username" value="$!status.value" placeholder="Email" required>
										#foreach($error in $status.errorMessages) <div class="alert-box alert">$error</div> #end
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												#if($command) #springBind( "command.password" ) #end
												<label for="passwordInput">Geslo</label>
												<input type="password" class="form-control" id="passwordInput" name="password" value="$!status.value" placeholder="Geslo" required pattern="(?=.*\d).{8,}" onchange="form.passwordInputRepeat.pattern = this.value;">
												#foreach($error in $status.errorMessages) <div class="alert-box alert">$error</div> #end
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												#if($command) #springBind( "command.repeatpassword" ) #end
												<label for="passwordInputRepeat">Ponovi geslo</label>
												<input type="password" class="form-control" id="passwordInputRepeat" name="repeatpassword" value="$!status.value" placeholder="Ponovi geslo" required>
												#foreach($error in $status.errorMessages) <div class="alert-box alert">$error</div> #end
											</div>
										</div>
									</div>
									<br />
									<p class="text-center">
										<input type="submit" class="btn btn-default btn-lg" value="Ustvari">
									</p>								
								</form>
                                <p class="text-center">
                                    <button class="btn btn-default" onclick="$('#extra').slideToggle(500)">Dodaj uporabniški profil</button>
                                </p>
                                <div id="extra" style="display: none">
                                    <form method="POST" action="">
                                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    #if($command) #springBind( "command.firstName" ) #end
                                                    <label for="firstNameInput">Ime</label>
                                                    <input type="text" class="form-control" id="firstNameInput" name="firstName" placeholder="Ime">
                                                    #foreach($error in $status.errorMessages) <div class="alert-box alert">$error</div> #end
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    #if($command) #springBind( "command.lastName" ) #end
                                                    <label for="lastNameInput">Priimek</label>
                                                    <input type="text" class="form-control" id="lastNameInput" name="lastName" placeholder="Priimek">
                                                    #foreach($error in $status.errorMessages) <div class="alert-box alert">$error</div> #end
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="sex">Spol</label>
                                                    <div class="row">
                                                        #if($command) #springBind( "command.sex" ) #end
                                                        <div class="col-md-6">
                                                            <div class="radio">
                                                                <label>
                                                                    <input type="radio" name="sex" id="femaleRadio" value="f" checked>Ženski
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="radio">
                                                                <label>
                                                                    <input type="radio" name="sex" id="maleRadio" value="m">Moški

                                                                </label>
                                                            </div>
                                                        </div>
                                                        #foreach($error in $status.errorMessages) <div class="alert-box alert">$error</div> #end
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    #if($command) #springBind( "command.birth" ) #end
                                                    <label for="birth">Rojstvo</label>
                                                    <input type="date" id="birth" class="form-control" name="birth" value="1950-01-01">
                                                    #foreach($error in $status.errorMessages) <div class="alert-box alert">$error</div> #end
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    #if($command) #springBind( "command.address" ) #end
                                                    <label for="streetInput">Ulica in hišna številka</label>
                                                    <input type="text" class="form-control" id="streetInput" name="address" placeholder="Ulica in hišna številka">
                                                    #foreach($error in $status.errorMessages) <div class="alert-box alert">$error</div> #end
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    #if($command) #springBind( "command.pobox" ) #end
                                                    <label for="postOfficeInput">Pošta</label>
                                                    <select class="form-control" id="postOfficeInput" name="pobox">
                                                        #foreach($po_box in $po_boxes)
                                                        <option value="$po_box.getPO_BoxId()">$po_box.getPO_BoxId() - $po_box.getCity()</option>
                                                        #end
                                                    </select>
                                                    #foreach($error in $status.errorMessages) <div class="alert-box alert">$error</div> #end
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <p class="text-center">
                                            <!--<input type="submit" class="btn btn-default btn-lg" value="Ustvari">-->
                                        </p>
                                        
                                    </form>
                                </div>								
                            </div>
                        </div>
                        <div id="sidebar" class="sidebar hidden-sm hidden-xs">
                            <div class="sidebar-topbar">
                                <div class="logo" style="color:#eee">                                    
                                </div>
                                <div id="hideSidebarButton" class="hide-sidebar-button hidden-lg hidden-md">
                                </div>
                            </div>
                            <div class="name">
                                <div class="logo-image logo-mediko">
                                </div>
                                <div class="logo-name">
                                    MEDIKO
                                </div>
                            </div>
                            <div class="sidebar-seperator"></div>
                            #sidemenu($usertype $page $subpage)
                            <div class="sidebar-seperator"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>