<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    #parse("../common/head.vm")
    <body>
    	<div class="container">
            <div class="row">
                <div class="panel panel-default main-panel">
                    <div class="main-container">
                        <div class="content-container">
                            <div class="content-topbar">
                                <div id="showSidebarButton" class="show-sidebar-button hidden-lg hidden-md"></div>
                                <div class="content-title">$title</div>
                            </div>
                            <div class="content">
								<form method="POST" action="">
									<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
									<h4><p class="text-center"> Osnovni podatki</p></h4>
									<div class="form-group">
									 	#if($command) #springBind( "command.username" ) #end
										<label for="emailInput">Email naslov</label>
										<input type="email" class="form-control" id="emailInput" name="username" value="$!status.value" placeholder="Email" required>
										#foreach($error in $status.errorMessages) <div class="alert alert-danger">$error</div> #end
									</div>
									<p>Geslo mora vsebovati vsaj 8 znakov, vključno z vsaj 1 števko.</p>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												#if($command) #springBind( "command.password" ) #end
												<label for="passwordInput">Geslo</label>
												<input type="password" class="form-control" id="passwordInput" name="password" value="$!status.value" placeholder="Geslo" required pattern="(?=.*\d).{8,}" onchange="form.passwordInputRepeat.pattern = this.value;">
												#foreach($error in $status.errorMessages) <div class="alert alert-danger">$error</div> #end
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												#if($command) #springBind( "command.repeatpassword" ) #end
												<label for="passwordInputRepeat">Ponovi geslo</label>
												<input type="password" class="form-control" id="passwordInputRepeat" name="repeatpassword" value="$!status.value" placeholder="Ponovi geslo" required>
												#foreach($error in $status.errorMessages) <div class="alert alert-danger">$error</div> #end
											</div>
										</div>
									</div>
									<br />
									<div class="row">
										<div class="col-md-12">
											<h4><p class="text-center"> Uporabniški profil (neobvezno)</p></h4>
											<div class="form-group">
												#if($command) #springBind( "command.cardNumber" ) #end
												<label for="cardNumberInput">Št. kartice zdravstvenega zavarovanja</label>
												<input type="text" class="form-control" id="cardNumberInput" name="cardNumber" placeholder="Št. kartice zdravstvenega zavarovanja" value="$!status.value">
												#foreach($error in $status.errorMessages) <div class="alert alert-danger">$error</div> #end
											</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												#if($command) #springBind( "command.firstName" ) #end
												<label for="firstNameInput">Ime</label>
												<input type="text" class="form-control" id="firstNameInput" name="firstName" placeholder="Ime" value="$!status.value">
												#foreach($error in $status.errorMessages) <div class="alert alert-danger">$error</div> #end
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												#if($command) #springBind( "command.lastName" ) #end
												<label for="lastNameInput">Priimek</label>
												<input type="text" class="form-control" id="lastNameInput" name="lastName" placeholder="Priimek" value="$!status.value">
												#foreach($error in $status.errorMessages) <div class="alert alert-danger">$error</div> #end
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												#if($command) #springBind( "command.sex" ) #end
												<label for="sex">Spol</label>
												<div class="row">
													<div class="col-md-6">
														<div class="radio">
															<label>
																<input type="radio" name="sex" id="femaleRadio" value="f" #if($!status.value == 'f') checked #end>Ženski
															</label>
														</div>
													</div>
													<div class="col-md-6">
														<div class="radio">
															<label>
																<input type="radio" name="sex" id="maleRadio" value="m" #if($!status.value == 'm') checked #end>Moški

															</label>
														</div>
													</div>
													#foreach($error in $status.errorMessages) <div class="alert alert-danger">$error</div> #end
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												#if($command) #springBind( "command.birth" ) #end
												<label for="birthInput">Rojstvo</label>
												<input type="date" id="birthInput" class="form-control" name="birth" value="$!status.value">
												#foreach($error in $status.errorMessages) <div class="alert alert-danger">$error</div> #end
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												#if($command) #springBind( "command.address" ) #end
												<label for="addressInput">Ulica in hišna številka</label>
												<input type="text" class="form-control" id="addressInput" name="address" placeholder="Ulica in hišna številka" value="$!status.value">
												#foreach($error in $status.errorMessages) <div class="alert alert-danger">$error</div> #end
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												#if($command) #springBind( "command.pobox" ) #end
												<label for="postOfficeInput">Pošta</label>
												<select class="form-control" id="postOfficeInput" name="pobox">
													#foreach($po_box in $po_boxes)
													<option value="$po_box.getPO_BoxId()">$po_box.getPO_BoxId() - $po_box.getCity()</option>
													#end
												</select>
												#foreach($error in $status.errorMessages) <div class="alert alert-danger">$error</div> #end
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												#if($command) #springBind( "command.phoneNumber" ) #end
												<label for="phoneNumberInput">Tel. št.</label>
												<input type="text" class="form-control" id="phoneNumberInput" name="phoneNumber" value="$!status.value" placeholder="Tel. št.">
												#foreach($error in $status.errorMessages) <div class="alert alert-danger">$error</div> #end
											</div>
										</div>
									</div>
									<br />
									<h4><p class="text-center"> Kontaktna oseba </small> </p></h4>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												#if($command) #springBind("command.contactFirstName") #end
												<label for="contactFirstNameInput">Ime</label>
												<input type="text" class="form-control" id="contactFirstNameInput" name="contactFirstName" value="$!status.value" placeholder="Ime">
												#foreach($error in $status.errorMessages) <div class="alert alert-danger">$error</div> #end
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												#if($command) #springBind( "command.contactLastName" ) #end
												<label for="contactLastNameInput">Priimek</label>
												<input type="text" class="form-control" id="contactLastNameInput" name="contactLastName" value="$!status.value" placeholder="Priimek">
												#foreach($error in $status.errorMessages) <div class="alert alert-danger">$error</div> #end
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												#if($command) #springBind( "command.contactAddress" ) #end
												<label for="contactAddressInput">Naslov</label>
												<input type="text" class="form-control" id="contactAddressInput" name="contactAddress" value="$!status.value" placeholder="Naslov">
												#foreach($error in $status.errorMessages) <div class="alert alert-danger">$error</div> #end
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												#if($command) #springBind( "command.contactPhoneNumber" ) #end
												<label for="contactPhoneNumberInput">Tel. št.</label>
												<input type="text" class="form-control" id="contactPhoneNumberInput" name="contactPhoneNumber" value="$!status.value" placeholder="Tel. št.">
												#foreach($error in $status.errorMessages) <div class="alert alert-danger">$error</div> #end
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												#if($command) #springBind( "command.contactRelationship" ) #end
												<label for="contactPhoneNumberInput">Sorodstveno razmerje</label>
												<select class="form-control" id="contactRelationshipInput" name="contactRelationship">
													#foreach($type in $relationshipTypes)
													<option value="$type">$type</option>
													#end
												</select>
												#foreach($error in $status.errorMessages) <div class="alert alert-danger">$error</div> #end
											</div>
										</div>
									</div>
									<p class="text-center">
										<input type="submit" class="btn btn-default btn-lg" value="Ustvari">
									</p>								
								</form>
                            </div>
                        </div>
                        <div id="sidebar" class="sidebar hidden-sm hidden-xs">
                            <div class="sidebar-topbar">
                                <div class="logo" style="color:#eee">                                    
                                </div>
                                <div id="hideSidebarButton" class="hide-sidebar-button hidden-lg hidden-md">
                                </div>
                            </div>
                            <div class="name">
                                <div class="logo-image logo-mediko">
                                </div>
                                <div class="logo-name">
                                    MEDIKO
                                </div>
                            </div>
                            <div class="sidebar-seperator"></div>
                            #sidemenu($usertype $page $subpage)
                            <div class="sidebar-seperator"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>