<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    #parse("../common/head.vm")
    <body>
    	<div class="container">
            <div class="row">
                <div class="panel panel-default main-panel">
                    <div class="main-container">
                        <div class="content-container">
                            <div class="content-topbar">
                                <div id="showSidebarButton" class="show-sidebar-button hidden-lg hidden-md"></div>
                                <div class="content-title">$title</div>
                            </div>
                            <div class="content">
                               	
                               	
								<form method="POST" action="#springUrl('/updateProfile')">
									<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label for="cardNumberInput">Št. kartice zdravstvenega zavarovanja</label>
												<input type="text" class="form-control" id="CardNumberInput" name="cardNumber" placeholder="Št. kartice zdravstvenega zavarovanja" value="$pData.cardNumber">
												#foreach($error in $status.errorMessages) <div class="alert-box alert">$error</div> #end
											</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label for="firstNameInput">Ime</label>
												<input type="text" class="form-control" id="firstNameInput" name="firstName" placeholder="Ime" value="$pData.getFirst_name()">
												#foreach($error in $status.errorMessages) <div class="alert-box alert">$error</div> #end
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label for="lastNameInput">Priimek</label>
												<input type="text" class="form-control" id="lastNameInput" name="lastName" placeholder="Priimek" value="$pData.getLast_name()">
												#foreach($error in $status.errorMessages) <div class="alert-box alert">$error</div> #end
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label for="sex">Spol</label>
												<div class="row">
													<div class="col-md-6">
														<div class="radio">
															<label>
																<input type="radio" name="sex" id="femaleRadio" value="f" #if($pData.sex == 'f') checked #end>Ženski
															</label>
														</div>
													</div>
													<div class="col-md-6">
														<div class="radio">
															<label>
																<input type="radio" name="sex" id="maleRadio" value="m" #if($pData.sex == 'm') checked #end>Moški

															</label>
														</div>
													</div>
													#foreach($error in $status.errorMessages) <div class="alert-box alert">$error</div> #end
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label for="birth">Rojstvo</label>
												<input type="date" id="birth" class="form-control" name="birth" value="$pData.getBirth_date()">
												#foreach($error in $status.errorMessages) <div class="alert-box alert">$error</div> #end
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label for="streetInput">Ulica in hišna številka</label>
												<input type="text" class="form-control" id="streetInput" name="address" placeholder="Ulica in hišna številka" value="$pData.address">
												#foreach($error in $status.errorMessages) <div class="alert-box alert">$error</div> #end
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label for="postOfficeInput">Pošta</label>
												<select class="form-control" id="postOfficeInput" name="pobox">
													#foreach($po_box in $po_boxes)
													<option value="$po_box.getPO_BoxId()">$po_box.getPO_BoxId() - $po_box.getCity()</option>
													#end
												</select>
												#foreach($error in $status.errorMessages) <div class="alert-box alert">$error</div> #end
											</div>
										</div>
									</div>
									<br />
									<p class="text-center">
										<input type="submit" class="btn btn-default btn-lg" value="Posodobi">
									</p>
									
								</form>
									
                            </div>
                        </div>
                        <div id="sidebar" class="sidebar hidden-sm hidden-xs">
                            <div class="sidebar-topbar">
                                <div class="logo" style="color:#eee">
                                    #if($user.lastLogin)
                                        <div style="padding-left: 10px;">
                                            <h6>Zadnja prijava</h6>
                                            <h6>$_utils.format($user.lastLogin)</h6>
                                        </div>
                                    #end
                                </div>
                                <div id="hideSidebarButton" class="hide-sidebar-button hidden-lg hidden-md">
                                </div>
                            </div>
                            <div class="patient">
                                <div class="patient-image patient-male">

                                </div>
                                <div class="patient-name">
                                    $user.username
                                </div>
                            </div>
                            <div class="sidebar-seperator"></div>
                            #sidemenu($usertype $page $subpage)
                            <div class="sidebar-seperator"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>