<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    #parse("../common/head.vm")
    <body>
    	<div class="container">
            <div class="row">
                <div class="panel panel-default main-panel">
                    <div class="main-container">
                        <div class="content-container">
                            <div class="content-topbar">
                                <div id="showSidebarButton" class="show-sidebar-button hidden-lg hidden-md"></div>
                                <div class="content-title">$title</div>
                            </div>
                            <div class="content">
								<form method="POST" action="">
									<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group" style="visibility:hidden; height:0px">
												#if($command) #springBind( "command.email" ) #end
												<label for="emailInput">Email</label>
												<input type="text" id="emailInput" class="form-control" name="email" placeholder="Email" value="$user.username">
												#foreach($error in $status.errorMessages) <div class="alert alert-danger">$error</div> #end
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												#if($command) #springBind( "command.password" ) #end
												<label for="newPasswordInput">Novo geslo</label>
												<input type="password" class="form-control" id="newPasswordInput" name="password" placeholder="Geslo" required >
												#foreach($error in $status.errorMessages) <div class="alert alert-danger">$error</div> #end
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												#if($command) #springBind( "command.repeatpassword" ) #end
												<label for="newPasswordRepeatInput">Ponovi novo geslo</label>
												<input type="password" class="form-control" id="newPasswordRepeatInput" name="repeatpassword" placeholder="Geslo" required>
												#foreach($error in $status.errorMessages) <div class="alert alert-danger">$error</div> #end
											</div>
										</div>
									</div>
									<br />
									<p class="text-center">
										<input type="submit" class="btn btn-default btn-lg" value="Spremeni">
									</p>
									
								</form>
									
                            </div>
                        </div>
                        <div id="sidebar" class="sidebar hidden-sm hidden-xs">
                            <div id="sidebarContent">
	                            <div class="sidebar-topbar">
	                                <div class="logo" style="color:#eee">
	                                    #if($user.lastLogin)
	                                        <div style="padding-left: 10px;">
	                                            <h6>Zadnja prijava</h6>
	                                            <h6>$_utils.format($user.lastLogin)</h6>
	                                        </div>
	                                    #end
	                                </div>
	                                <div id="hideSidebarButton" class="hide-sidebar-button hidden-lg hidden-md">
	                                </div>
	                            </div>
	                            <div class="patient">
	                                <div class="patient-image patient-male">
	
	                                </div>
	                                <div class="patient-name">
	                                    $user.username
	                                </div>
	                            </div>
	                            <div class="sidebar-seperator"></div>
	                            #sidemenu($usertype $page $subpage)
	                            <div class="sidebar-seperator"></div>
	                        </div>
                    	</div>
                	</div
                </div>
            </div>
        </div>
    </body>
</html>