<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    #parse("../common/head.vm")
    <body>
    	<div class="container">
            <div class="row">
                <div class="panel panel-default main-panel">
                    <div class="main-container">
                        <div class="content-container">
                            <div class="content-topbar">
                                <div id="showSidebarButton" class="show-sidebar-button hidden-lg hidden-md"></div>
                                <div class="content-title">$title</div>
                            </div>
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">Osebni Podatki</div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <strong>Ime</strong><br>
                                                        $selectedPatient.first_name
                                                    </div>
                                                    <div class="col-md-6">
                                                        <strong>Priimek</strong><br>
                                                        $selectedPatient.last_name
                                                    </div>
                                                    <div class="col-md-6">
                                                        <strong>Datum rojstva</strong><br>
                                                        $selectedPatient.birth_date
                                                    </div>
                                                    <div class="col-md-6">
                                                        <strong>Spol</strong><br>
                                                        #if($selectedPatient.getSex() == 'f')
                                                        	Ženski
                                                        #else
                                                        	Moški
                                                        #end
                                                    </div>                                                                                                   
                                                    <div class="col-md-6">
                                                        <strong>Naslov in kraj</strong><br>
                                                        $selectedPatient.address<br>$p.po_box.city
                                                    </div>
                                                    <div class="col-md-6">
                                                        <strong>Kartica ZZZS</strong><br>
                                                        xxxxxxxxxx
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">Zdravniki</div>
                                            <div class="panel-body">
                                               <div class="row">
                                               	#if(!$p.doctor)
                                               		<div class="col-md-6">
                                                        <strong>Nimate še izbranega zdravnika!</strong><br>
                                                    </div>
                                                #else
                                                    <div class="col-md-6">
                                                        <strong>Ime</strong><br>
                                                        $p.doctor.first_name
                                                    </div>
                                                    <div class="col-md-6">
                                                        <strong>Priimek</strong><br>
                                                        $p.doctor.last_name
                                                    </div>
                                                    <div class="col-md-6">
                                                        <strong>Tip</strong><br>
                                                        $p.doctor.type
                                                    </div>
                                                    <div class="col-md-6">
                                                        <strong>Zdravstvena ustanova</strong><br>
                                                        $p.doctor.medical_center.name
                                                    </div>
                                                    <div class="col-md-6">
                                                        <strong>Medicinska sestra</strong><br>
                                                        #if(!$p.doctor.nurses)
                                                        /
                                                        #else
	                                                        #foreach($nurse in $p.doctor.nurses)
	                                                        	$nurse.first_name $nurse.last_name
	                                                    	#end
                                                    	#end
                                                    </div>   
                                            	#end                                                
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">Zadnji pregledi</div>
                                            <div class="panel-body">
												#if($p.checkups.isEmpty())
													<div class="col-md-6">
														<strong>Nimate pregledov!</strong><br>
													</div>
												#else
                                                <div class="table-responsive">                                               	
	                                                    <table class="table table-hover">                                                   	
	                                                        <thead>
	                                                            <tr> 
	                                                                <th>Datum</th> 
	                                                                <th>Zdravnik</th>
	                                                                <th>Razlog</th>
	                                                            </tr>
	                                                        </thead>
	                                                        #foreach($checkup in $p.checkups)                                                        
	                                                        <tbody> 
	                                                            <tr> 
	                                                                <th scope="row">$checkup.date</th> 
	                                                                <td>$checkup.doctor.first_name $checkup.doctor.last_name</td> 
	                                                                <td>$checkup.reason</td>
	                                                            </tr> 
	                                                        </tbody> 
	                                                        #end
	                                                    </table>                                                   
                                                </div>
                                                <button type="button" class="btn btn-info">Pokaži več</button>
												#end                                            
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading"Bolezni>Bolezni</div>
                                            <div class="panel-body">
                                            #if($p.checkups.isEmpty())
                                            	<div class="col-md-6">
													<strong>Nimate bolezni!</strong><br>
												</div>
											#else
                                            	#foreach($checkup in $p.checkups)
	                                            	#if($checkup.diseases.isEmpty())
														<div class="col-md-6">
															<strong>Nimate bolezni!</strong><br>
														</div>
													#else
														#foreach($disease in $checkup.diseases)
															<div class="table-responsive">
			                                                    <table class="table table-hover">
			                                                        <thead>
			                                                            <tr> 
			                                                                <th>Razlog</th>
			                                                                <th>Bolezen</th>
			                                                                <th>Dodatno</th>
			                                                            </tr>
			                                                        </thead> 
			                                                        <tbody> 
			                                                            <tr> 
			                                                            	#if($disease.type == 0)
				                                                                <th scope="row">$checkup.reason</th> 
				                                                                <td>$disease.name</td> 
				                                                                <td>-</td> 
			                                                                #end
			                                                            </tr> 
			                                                        </tbody> 
			                                                    </table>                                                  
			                                                </div>
			                                                <button type="button" class="btn btn-info">Pokaži več</button>
														#end
                                                	#end
                                                #end
                                        	#end 
											</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading"Bolezni>Alergije</div>
                                            <div class="panel-body">
                                            #if($p.checkups.isEmpty())
                                            	<div class="col-md-6">
													<strong>Nimate alergij!</strong><br>
												</div>
											#else
                                            	#foreach($checkup in $p.checkups)
	                                            	#if($checkup.diseases.isEmpty())
														<div class="col-md-6">
															<strong>Nimate alergij!</strong><br>
														</div>
													#else
														#foreach($disease in $checkup.diseases)
															<div class="table-responsive">
			                                                    <table class="table table-hover">
			                                                        <thead>
			                                                            <tr> 
			                                                                <th>Razlog</th>
			                                                                <th>Alergija</th>
			                                                                <th>Dodatno</th>
			                                                            </tr>
			                                                        </thead> 
			                                                        <tbody> 
			                                                            <tr> 
			                                                                #if($disease.type == 1)
				                                                                <th scope="row">$checkup.reason</th> 
				                                                                <td>$disease.name</td> 
				                                                                <td>-</td> 
			                                                                #end 
			                                                            </tr> 
			                                                        </tbody> 
			                                                    </table>                                                  
			                                                </div>
			                                                <button type="button" class="btn btn-info">Pokaži več</button>
														#end
                                                	#end
                                                #end
                                        	#end 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading"Bolezni>Diete</div>
                                            <div class="panel-body">
                                            #if($p.checkups.isEmpty())
                                            	<div class="col-md-6">
													<strong>Nimate diet!</strong><br>
												</div>
											#else
                                            	#foreach($checkup in $p.checkups)
	                                            	#if($checkup.diets.isEmpty())
														<div class="col-md-6">
															<strong>Nimate diet!</strong><br>
														</div>
													#else
														#foreach($diet in $checkup.diets)
															<div class="table-responsive">
			                                                    <table class="table table-hover">
			                                                        <thead>
			                                                            <tr> 
			                                                                <th>Dieta</th>
			                                                                <th>Trajanje</th>
			                                                                <th>Navodila</th>
			                                                            </tr>
			                                                        </thead> 
			                                                        <tbody> 
			                                                            <tr> 
			                                                                #if($disease.type == 1)
				                                                                <th scope="row">$diet.name</th> 
				                                                                <td>$diet.duration</td> 
				                                                                <td>-</td> 
			                                                                #end 
			                                                            </tr> 
			                                                        </tbody> 
			                                                    </table>                                                  
			                                                </div>
			                                                <button type="button" class="btn btn-info">Pokaži več</button>
														#end
                                                	#end
                                                #end
                                        	#end 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading"Bolezni>Zdravila</div>
                                            <div class="panel-body">
                                            #if($p.checkups.isEmpty())
                                            	<div class="col-md-6">
													<strong>Nimate zdravil!</strong><br>
												</div>
											#else
                                            	#foreach($checkup in $p.checkups)
	                                            	#if($checkup.medicines.isEmpty())
														<div class="col-md-6">
															<strong>Nimate zdravil!</strong><br>
														</div>
													#else
														#foreach($medicine in $checkup.medicines)
															<div class="table-responsive">
			                                                    <table class="table table-hover">
			                                                        <thead>
			                                                            <tr> 
			                                                                <th>Zdravilo</th>
			                                                                <th>Navodila</th>
			                                                            </tr>
			                                                        </thead> 
			                                                        <tbody> 
			                                                            <tr> 
			                                                                <th scope="row">$medicine.name</th> 
			                                                                <td>-</td> 
			                                                            </tr> 
			                                                        </tbody> 
			                                                    </table>                                                  
			                                                </div>
			                                                <button type="button" class="btn btn-info">Pokaži več</button>
														#end
                                                	#end
                                                #end
                                        	#end 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading"Bolezni>Meritve</div>
                                            <div class="panel-body">
                                                <div class="table-responsive">
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr> 
                                                            	<th>Tip</th>
                                                                <th>Datum</th>
                                                                <th>Lokacija</th>    
                                                            </tr>
                                                        </thead> 
                                                        <tbody> 
                                                            <!-- MERITEV 1-->
                                                            <tr onclick="$('#meritev-0').toggle(500)"> 
                                                                <th scope="row">Sladkor</th> 
                                                                <td>17.4.2016</td> 
                                                                <td>Na domu</td>                                                                
                                                            </tr>
                                                            <tr class="info" id="meritev-0" style="display: none">
                                                                <td colspan="3">
                                                                    <div>
                                                                        4.1 mmol/l
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <!-- KONEC MERITVE 0 <tr onclick="$('#meritev-1').toggle(500)"> -->
                                                        </tbody> 
                                                    </table>
                                                    <button type="button" class="btn btn-info">Pokaži več</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading"Bolezni>Prihajajoči pregledi</div>
                                            <div class="panel-body">
                                                <div class="table-responsive">
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr> 
                                                                <th>Datum</th> 
                                                                <th>Zdravnik</th>
                                                            </tr>
                                                        </thead> 
                                                        <tbody> 
                                                            <tr> 
                                                                <th scope="row">17.5.2016</th> 
                                                                <td>dr. med. Lisa Cuddy</td> 
                                                            </tr>                                                           
                                                        </tbody> 
                                                    </table>
                                                </div>
                                                <button type="button" class="btn btn-info">Naroči na pregled</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="sidebar" class="sidebar hidden-sm hidden-xs">
                            <div class="sidebar-topbar">
                                <div class="logo" style="color:#eee">
                                    
                                </div>
                                <div id="hideSidebarButton" class="hide-sidebar-button hidden-lg hidden-md">
                                </div>
                            </div>
                            <div class="patient">
                                <div class="patient-image patient-male">

                                </div>
                                <div class="patient-name">
                                    $user.username
                                </div>
                            </div>
                            <div class="sidebar-seperator"></div>
                            #patientPicker($user)
                            <div class="sidebar-seperator"></div>
                            #sidemenu($usertype $page $subpage)
                            <div class="sidebar-seperator"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>