<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    #parse("../common/head.vm")
    <body>
    	<div class="container">
            <div class="row">
                <div class="panel panel-default main-panel">
                    <div class="main-container">
                        <div class="content-container">
                            <div class="content-topbar">
                                <div id="showSidebarButton" class="show-sidebar-button hidden-lg hidden-md"></div>
                                <div class="content-title">$title</div>
                            </div>
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">Osebni Podatki</div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div id="selectedPatientId" class="hidden">$selectedPatient.id</div>
                                                    <div class="col-md-6">
                                                        <strong>Ime</strong><br>
                                                        $selectedPatient.first_name
                                                    </div>
                                                    <div class="col-md-6">
                                                        <strong>Priimek</strong><br>
                                                        $selectedPatient.last_name
                                                    </div>
                                                    <div class="col-md-6">
                                                        <strong>Datum rojstva</strong><br>
                                                        $_utils.format($selectedPatient.birth_date)
                                                    </div>
                                                    <div class="col-md-6">
                                                        <strong>Spol</strong><br>
                                                        #if($selectedPatient.getSex() == 'f')
                                                        	Ženski
                                                        #else
                                                        	Moški
                                                        #end
                                                    </div>                                                                                                   
                                                    <div class="col-md-6">
                                                        <strong>Naslov in kraj</strong><br>
                                                        $selectedPatient.address<br>$!selectedPatient.po_box.city
                                                    </div>
                                                    <div class="col-md-6">
                                                        <strong>Kartica ZZZS</strong><br>
                                                        $selectedPatient.cardNumber
                                                    </div>
                                                    #if($isDoctor)
                                                        <div class="col-md-12 text-center">
                                                            <br>
                                                            <a href="#springUrl('/dashboard/patient/')">
                                                                <button type="button" class="btn btn-info">Spremeni pacienta</button>
                                                            </a>
                                                        </div>
                                                    #end
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">Osebni zdravniki</div>
                                            <div class="panel-body">
                                               <div class="row">
                                               	#if(!$doctor)
                                               		<div class="col-md-6">
                                                        <strong>Nimate še izbranega zdravnika!</strong><br>
                                                    </div>
                                                #else
                                                    <div class="col-md-6">
                                                        <strong>Ime</strong><br>
                                                        $doctor.first_name
                                                    </div>
                                                    <div class="col-md-6">
                                                        <strong>Priimek</strong><br>
                                                        $doctor.last_name
                                                    </div>
                                                    <div class="col-md-6">
                                                        <strong>Tip</strong><br>
                                                        $doctor.type
                                                    </div>
                                                    <div class="col-md-6">
                                                        <strong>Zdravstvena ustanova</strong><br>
                                                        $doctor.medical_center.name
                                                    </div>
                                                    <div class="col-md-6">
                                                    	#if(!$doctor.nurses)
                                                        <strong>Medicinska sestra</strong><br>  
                                                        /
                                                        #else
	                                                        #foreach($nurse in $doctor.nurses)
	                                                        	$nurse.first_name $nurse.last_name
	                                                    	#end
                                                    	#end
                                                    </div>   
                                            	#end                                                
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">Zobozdravnik</div>
                                            <div class="panel-body">
                                               <div class="row">
                                                #if(!$dentist)
                                                    <div class="col-md-6">
                                                        <strong>Nimate še izbranega Zobozdravnika!</strong><br>
                                                    </div>
                                                #else
                                                    <div class="col-md-6">
                                                        <strong>Ime</strong><br>
                                                        $dentist.first_name
                                                    </div>
                                                    <div class="col-md-6">
                                                        <strong>Priimek</strong><br>
                                                        $dentist.last_name
                                                    </div>
                                                    <div class="col-md-6">
                                                        <strong>Tip</strong><br>
                                                        $dentist.type
                                                    </div>
                                                    <div class="col-md-6">
                                                        <strong>Zdravstvena ustanova</strong><br>
                                                        $dentist.medical_center.name
                                                    </div>
                                                    <div class="col-md-6">
                                                        #if(!$dentist.nurses)
                                                        <strong>Medicinska sestra</strong><br>  
                                                        /
                                                        #else
                                                            #foreach($nurse in $dentist.nurses)
                                                                $nurse.first_name $nurse.last_name
                                                            #end
                                                        #end
                                                    </div>   
                                                #end                                                
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">Zadnji pregledi</div>
                                            <div class="panel-body">
												#if($checkups.isEmpty())
													<div class="col-md-6">
														<strong>Nimate pregledov!</strong><br>
													</div>
												#else
                                                    <div class="table-responsive">            	
	                                                    <table class="table table-hover">
	                                                        <thead>
	                                                            <tr> 
	                                                                <th>Datum</th> 
	                                                                <th>Zdravnik</th>
	                                                                <th>Razlog</th>
	                                                            </tr>
	                                                        </thead>
                                                            <tbody class="checkup-table-tbody">
	                                                        #foreach($checkup in $checkups)
                                                                #if($velocityCount  <= 5)
        	                                                            <tr onclick="opencheckup('#springUrl('/checkup/')'+ ${checkup.id})">
        	                                                                <td scope="row">$_utils.format($checkup.appointment.date)</td>
        	                                                                <td>dr. $checkup.doctor.last_name</td> 
        	                                                                <td>$checkup.reason</td>
        	                                                            </tr> 
                                                                #end
                                                            #end
	                                                        </tbody> 
                                                            <tbody id="checkupMoreTbody" class="checkup-table-tbody">
                                                                
                                                            </tbody>
                                                        </table>                                                
                                                    </div>
                                                    #if($checkups.size() > 5)
                                                        <button id="showMoreCheckup" type="button" class="btn btn-info">Pokaži več</button>
                                                    #end
											     #end                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">						
                                    <div class="col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">Bolezni</div>
                                            <div class="panel-body">
                                            #if($diseases.isEmpty())
                                            	<div class="col-md-6">
													<strong>Nimate bolezni!</strong><br>
												</div>
											#else
												<div class="table-responsive">
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr> 
                                                                <th>Bolezen</th>
                                                                <th>Dodatno</th>
                                                            </tr>
                                                        </thead>
                                                        #set( $count = 0 )
                                                        <tbody> 
                                                        #foreach($disease in $diseases)                                                             
                                                            <tr> 
                                                            	#if($disease.getIsAllergy()==0 && $count < 5)
	                                                                <td>$disease.name</td> 
	                                                                <td>
                                                                        #if($disease.instructions.size() == 0) - #end
                                                                        #foreach($instruction in $disease.instructions)
                                                                            #if($velocityCount!=1) <br> #end
                                                                            <a style="color:#36B8D5" href="$instruction.getText()">Povezava</a>
                                                                        #end
                                                                    </td> 
                                                                    #set( $count = $count + 1 )
                                                                #end
                                                            </tr> 
                                                        #end 
                                                        </tbody>
                                                        <tbody id="diseaseMoreTbody" class="checkup-table-tbody">
                                                                
                                                        </tbody>                                         
                                                    </table>
                                                </div>
                                                #if($count == 5)
                                                    <button id="showMoreDisease" type="button" class="btn btn-info">Pokaži več</button> 
                                                #end                                               
                                	       #end                                      												
											</div>
										</div>
									</div>
                                
                                    <div class="col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">Alergije</div>
                                            <div class="panel-body">
                                            #if($diseases.isEmpty())
                                            	<div class="col-md-6">
													<strong>Nimate alergij!</strong><br>
												</div>
											#else
												<div class="table-responsive">
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr> 
                                                                <th>Alergija</th>
                                                                <th>Dodatno</th>
                                                            </tr>
                                                        </thead> 
                                                        #set( $count = 0 )
                                                        <tbody> 
                                                        #foreach($allergy in $diseases)                                          
                                                            <tr> 
                                                            	#if($allergy.getIsAllergy() == 1 && $count < 5)
	                                                                <td>$allergy.name</td> 
	                                                                <td>
                                                                        #if($allergy.instructions.size() == 0) - #end
                                                                        #foreach($instruction in $allergy.instructions)
                                                                            #if($velocityCount!=1) <br> #end
                                                                            <a style="color:#36B8D5" href="$instruction.getText()">Povezava</a>
                                                                        #end
                                                                    </td>  
                                                                    #set( $count = $count + 1 )
                                                                #end
                                                            </tr> 
                                                        #end
                                                        </tbody> 	
                                                        <tbody id="alergyMoreTbody" class="checkup-table-tbody">
                                                                
                                                        </tbody>  	                                               
                                                    </table>
                                                </div> 
                                                #if($count == 5)
                                                    <button id="showMoreAlergy" type="button" class="btn btn-info">Pokaži več</button> 
                                                #end                                               
                                        	#end                                      												
											</div>
										</div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">Diete</div>
                                            <div class="panel-body">
                                            #if($diets.isEmpty())
                                            	<div class="col-md-6">
													<strong>Nimate diet!</strong><br>
												</div>
											#else
    											<div class="table-responsive">
    	                                            <table class="table table-hover">
    	                                                <thead>
    	                                                    <tr> 
    	                                                        <th>Dieta</th>
    	                                                        <th>Navodila</th>
    	                                                    </tr>
    	                                                </thead>
                                                        <tbody> 
                                                        #foreach($diet in $diets)
                                                            #if($velocityCount  <= 5)
                                                                <tr> 
                                                                    <td scope="row">$diet.getName()</td> 
                                                                    <td>
                                                                        #foreach($instruction in $diet.instructions)
                                                                            #if($velocityCount!=1) <br> #end
                                                                            <a style="color:#36B8D5" href="$instruction.getText()">$instruction.getText()</a>
                                                                        #end
                                                                    </td> 
                                                                </tr> 
                                                            #end                             
                                                        #end
                                                        </tbody>
                                                        <tbody id="dietMoreTbody" class="checkup-table-tbody">
                                                                
                                                        </tbody> 
                                                    </table>                                                  
                                                </div>
                                                #if($diets.size() > 5)
                                    			<button id="showMoreDiet" type="button" class="btn btn-info">Pokaži več</button>
                                                #end
                                        	#end 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">Zdravila</div>
                                            <div class="panel-body">
                                            #if($medicines.isEmpty())
                                            	<div class="col-md-6">
													<strong>Nimate zdravil!</strong><br>
												</div>
											#else														
												<div class="table-responsive">
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr> 
                                                                <th>Zdravilo</th>
                                                                <th>Navodila</th>
                                                            </tr>
                                                        </thead> 
                                                        <tbody> 
                                                        #foreach($medicine in $medicines) 
                                                            #if($velocityCount  <= 5)
                                                                <tr> 
                                                                    <td scope="row">$medicine.getName()</td> 
                                                                    <td><a style="color:#36B8D5" href="$medicine.link">Povezava</a></td> 
                                                                </tr> 
                                                            #end
                                                        #end
                                                        </tbody>
                                                        <tbody id="medicineMoreTbody">

                                                        </tbody>
                                                    </table>                                                  
                                                </div>
                                                #if($medicines.size() > 5)
                                                <button id="showMoreMedicine" type="button" class="btn btn-info">Pokaži več</button>
                                                #end
											#end
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">Meritve</div>
                                            <div class="panel-body">
                                            #if($results.isEmpty())
                                            	<div class="col-md-6">
													<strong>Nimate meritev!</strong><br>
												</div>
											#else                                           	
												<div class="table-responsive">
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr> 
                                                                <th>Tip</th>
                                                                <th>Datum</th>
                                                                <th>Lokacija</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody> 
                                                        #foreach($result in $results)
                                                            #if($velocityCount  <= 5)
                                                                
                                                                    <tr onclick="$('#meritev-$velocityCount').toggle(500)"> 
                                                                        <td scope="row">$result.type</td> 
                                                                        <td>$_utils.format($result.checkup.appointment.date)</td> 
                                                                        <td>-</td>                                                                
                                                                    </tr>
                                                                    <tr class="info" id="meritev-$velocityCount" style="display: none">
                                                                        <td colspan="3">
                                                                            <div>
                                                                                $result.value <br>
                                                                                $result.text
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                #end
                                                            #end
                                                            </tbody> 
                                                            <tbody id="resultMoreTbody">

                                                            </tbody>
                                                    </table>                                               
                                                </div>
                                                #if($results.size() > 5)
                                                <button id="showMoreResult" type="button" class="btn btn-info">Pokaži več</button>
                                                #end                                          
                                        	#end 
                                            </div>
                                        </div>
                                    </div>                                   
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">Prihajajoči pregledi</div>
                                            <div class="panel-body">
												#if($upcoming.isEmpty())
													<div class="col-md-6">
														<strong>Nimate prihajajočih pregledov!</strong><br>
													</div>
												#else
                                                <div class="table-responsive">                                               	
	                                                    <table class="table table-hover">                                                   	
	                                                        <thead>
	                                                            <tr> 
	                                                               <th>Datum</th> 
                                                                   <th>Zdravnik</th>
	                                                            </tr>
	                                                        </thead>
	                                                        #foreach($appointment in $upcoming)
                                                                #if($velocityCount  <= 5)                                                   
        	                                                        <tbody> 
        	                                                            <tr> 
        	                                                                <td scope="row">$_utils.format($appointment.date)</td> 
        	                                                                <td>dr. $appointment.doctor.last_name</td> 
                                                                            #if($isDoctor)
                                                                                <td>
                                                                                    <form action="#springUrl('/appointment')/${appointment.getIdAppointment()}" method="POST">
                                                                                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                                                                                        <button type="submit" class="btn btn-info">VNESI</button>
                                                                                    </form>
                                                                                </td> 
                                                                            #end
        	                                                            </tr> 
        	                                                        </tbody> 
                                                                #end
	                                                        #end
	                                                    </table>                                                   
                                                </div>                                               
												#end  
												<button type="button" class="btn btn-info">Naroči</button>                                          
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="sidebar" class="sidebar hidden-sm hidden-xs">
                            <div id="sidebarContent">
                                <div class="sidebar-topbar">
                                    <div class="logo" style="color:#eee">
                                        #if($user.lastLogin)
                                            <div style="padding-left: 10px;">
                                                <h6>Zadnja prijava</h6>
                                                <h6>$_utils.format($user.lastLogin)</h6>
                                            </div>
                                        #end
                                    </div>
                                    <div id="hideSidebarButton" class="hide-sidebar-button hidden-lg hidden-md">
                                    </div>
                                </div>
                                <div class="patient">
                                    <div class="patient-image patient-male">

                                    </div>
                                    <div class="patient-name">
                                       <a href="#springUrl('/updateProfile')" class="patient-name"> $user.username</a>
                                    </div>
                                </div>
                                #if(!$isDoctor)
                                    <div class="sidebar-seperator"></div>
                                    #patientPicker($user)
                                #end
                                <div class="sidebar-seperator"></div>
                                #sidemenu($usertype $page $subpage)
                                <div class="sidebar-seperator"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>