<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    #parse("../common/head.vm")
    <body>
    	<div class="container">
            <div class="row">
                <div class="panel panel-default main-panel">
                    <div class="main-container">
                        <div class="content-container">
                            <div class="content-topbar">
                                <div id="showSidebarButton" class="show-sidebar-button hidden-lg hidden-md"></div>
                                <div class="content-title">$title</div>
                            </div>
                            <div class="content">
								<form method="POST" action="">
									<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                
                                                <label for="patientInput">Pacient</label>
                                                <input type="text" disabled="true" class="form-control" id="patientInput" name="patient" value="$selectedPatient.getFirst_name() $selectedPatient.getLast_name()">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                #if($command) #springBind( "command.doctor" ) #end
                                                <label for="doctorInput">Osebni zdravnik</label>
                                                <select class="form-control" id="doctorInput" name="doctor">
                                                    <option #if(-1 == $selectedDoctor) selected #end value="-1">Ni izbran</option>
                                                    #foreach($doctor in $doctors)
                                                    <option #if($doctor.id == $selectedDoctor) selected #end value="$doctor.id">dr. $doctor.first_name $doctor.last_name</option>
                                                    #end
                                                </select>
                                                #foreach($error in $status.errorMessages) <div class="alert-box alert">$error</div> #end
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                #if($command) #springBind( "command.dentist" ) #end
                                                <label for="dentistInput">Zobozdravnik</label>
                                                <select class="form-control" id="dentistInput" name="dentist">
                                                    <option #if(-1 == $selectedDentist) selected #end value="-1">Ni izbran</option>
                                                    #foreach($dentist in $dentists)
                                                    <option #if($dentist.id == $selectedDentist) selected #end value="$dentist.id">dr. $dentist.first_name $dentist.last_name</option>
                                                    #end
                                                </select>
                                                #foreach($error in $status.errorMessages) <div class="alert-box alert">$error</div> #end
                                            </div>
                                        </div>
                                    </div>

									<br />
									<p class="text-center">
										<input type="submit" class="btn btn-default btn-lg" value="Potrdi">
									</p>
									
								</form>
									
                            </div>
                        </div>
                        <div id="sidebar" class="sidebar hidden-sm hidden-xs">
                            <div id="sidebarContent">
                                <div class="sidebar-topbar">
                                    <div class="logo" style="color:#eee">
                                        #if($user.lastLogin)
                                            <div style="padding-left: 10px;">
                                                <h6>Zadnja prijava</h6>
                                                <h6>$_utils.format($user.lastLogin)</h6>
                                            </div>
                                        #end
                                    </div>
                                    <div id="hideSidebarButton" class="hide-sidebar-button hidden-lg hidden-md">
                                    </div>
                                </div>
                                <div class="patient">
                                    <div class="patient-image patient-male">

                                    </div>
                                    <div class="patient-name">
                                        $user.username
                                    </div>
                                </div>
                                <div class="sidebar-seperator"></div>
                                #patientPicker($user)
                                <div class="sidebar-seperator"></div>
                                #sidemenu($usertype $page $subpage)
                                <div class="sidebar-seperator"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>